name: CI
on:
  push:
  pull_request:
jobs:
  lint-shell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          severity: warning
        env:
          SHELLCHECK_OPTS: -e SC1091
  lint-php:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - name: PHP lint
        run: |
          find src -type f -name "*.php" -print0 | xargs -0 -I{} php -l "{}" || true
